body {
    
}



#header {
    height: 80px;
    display: grid;
    grid-template-rows: 80% auto;
    text-align: center;
}

/* Navigation */

#navigation {
    font-size: .6rem;
    border-top: 1px solid grey;
    padding-top: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.nav-buttons {
    text-decoration: none;
    padding: 3px;
    color: black;
}

#hero-image {
    height: 150px;
    background-color: red;
    background-image: url("https://wallpaperaccess.com/full/123550.jpg");
    background-size: cover;
    background-position-y: -30px;
}

#content {
    height: 1000px;
    background-color: blue;
    width: 90%;
    margin: 0 auto;
    /* Creating two columns in content div */
    display: grid;
    grid-template-columns: 70% 30%;
}

#content-article {
    margin-top: -30px;
    background-color: white;
    box-shadow: -1px 1px 6px black;
}

